<li
  class="px1 mt1 block align-top land-see-pre-animate land-see-post-item land-see-post-item-wide land-see-post-featured col land-see-recent"
>
  <a href="{{ .Permalink }}" class="text-decoration-none">
    <amp-img
      class="land-see-post-image cover"
      alt="eyecatch"
      media=""
      width="409"
      height="305"
      layout="responsive"
      {{ if isset .Params "eyecatch" }}
        src="/images/eyecatches/{{ .Params.Eyecatch }}"
      {{ else }}
        src="/images/eyecatches/avatar.webp"
      {{ end }}
    >
      <amp-img
        fallback
        class="land-see-post-image cover"
        alt="eyecatch"
        media=""
        width="409"
        height="305"
        layout="responsive"
        src="/images/eyecatches/avatar.png">
      </amp-img>
    </amp-img>
  </a>
  <a
    class="land-see-post-category land-see-page-navigation inline-block pt1 underline caps"
    href="/categories/{{ .Params.Categories | urlize }}"
    >
    <i class="fas fa-folder">{{ .Params.Categories }}</i>

  </a>
  {{ if isset .Params "tags" }}
    {{ range $tag := .Params.tags }}
      <a class="land-see-post-category land-see-page-navigation inline-block pt1 underline caps" href="/tags/{{ $tag | urlize }}"><i class="fas fa-tag">{{ $tag | title }}</i></a>
    {{ end }}
  {{ end }}
  <h4 class="land-see-post-title ampstart-title-sm pt1 mb4">
    <a class="text-decoration-none" href="{{ .Permalink }}">{{ .Title }}</a>
  </h4>
</li>
